username=""
key=""
baseurl="https://<BASE_URL>/rest/api/3"
prefix=""
model=""
aikey=""
prompt="Summarize into a short paragraph, for adding worklog (just the summary – no headings or formatting or anything. Just a short concise paragraph)"
