username=""
key=""
baseurl="https://<BASE_URL>/rest/api/3"
prefix=""
model=""
aikey=""
prompt="Summarize the following to add to a Jira worklog. Make it concise and succinct. Split conceptually unrelated things into different paragraphs."
